<div class="p-0 m-0 container-background">
  <div class="container">
      <div class="p-0 m-0 grid containe-info">
        <div class="col-12 md:col-6 img-error md:flex-order-2">
          <img src="https://firebasestorage.googleapis.com/v0/b/project-cv-7cee1.appspot.com/o/3828537.jpg?alt=media&token=cb92429e-faea-4859-9271-764e8eb0cce0">
        </div>

        <div class="col-12 md:col-6 md:flex-order-1" >
            <h1 class="text-1 margin-text">Ups, algo salió mal</h1>
            <h3 class="text-2 pb-5">Verifique su conexión a internet y si el problema persiste vuelva a intentarlo más tarde.</h3>


            <button pButton pRipple type="button" label="Volver a cargar"
            style="background-color: #22C55E; border: 1px solid #22C55E; "
            icon="pi pi-refresh"
            (click)="refresh()"></button>


        </div>

      </div>
  </div>
</div>
