

<div class="p-0 m-0 container-background">
  <div class="container">
    <div class="container-loading">

      <div class="boxes">
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
      </div>

      <span class="text-loading">Cargando</span>

    </div>
  </div>
</div>
